<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">

<head th:replace="index.html :: header"></head>
<body>
<header th:replace="index.html :: headerfiles">
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="index.html :: navigation(field='tos')" id="sidebarMenu"
             class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1">Terms of Service</h1>
            </div>
            <img src="/assets/img/002.svg" class="col-5 float-end">


            <p>These Terms of Service contain the terms and conditions that govern your access to and use of the Site
                and Services (as defined below) provided by us and is an agreement between us and you or the entity you
                represent. By using this Site, you (1) accept and agree to these Terms and any additional terms, and (2)
                consent to the collection, use, disclosure and other handling of information as described in our Privacy
                Policy.
                If you do not agree to the Terms, then you may not access or use the Services.
            </p>
            <h3>The Services</h3>
            <p>
                Offerings and Access. Nuftu offers a number of products. Services are accessed through the Site,
                unless otherwise agreed in writing or otherwise offered. Some Services may require you to create an
                Account,
                enter a valid form of payment, and select a paid plan, or initiate an Order for a Plan or Service.
            </p>
            <p>
                Third-Party Content. In certain Services, Third-Party Content may be used by you at your election.
                Third-Party Content is governed by this Agreement and, if applicable, separate terms and conditions
                accompanying such Third-Party Content, which terms and conditions may include separate fees and charges.
            </p>
            <p>Third-Party Services. When you use our Services, you may also be using the services of one or more third
                parties. Your use of these third party services may be subject to the separate policies, terms of use,
                and fees of these third parties.
            </p>

            <h3>Changes</h3>
            <p>To the Services. We may change or discontinue any or all of the Services or change or remove
                functionality of any or all of the Services from time to time. We will notify you of any material change
                to or discontinuation of the Services. If you agreed to submit your email address, you will be notified
                of any material changes to the Service at least 30 days in advance of such change. For any
                discontinuation of or material change to a Service, we will use commercially reasonable efforts to
                continue supporting the previous version of the Service for three months after the change or
                discontinuation (except if doing so (a) would pose a security or intellectual property issue, (b) is
                economically or technically burdensome, or (c) would cause us to violate the law or requests of
                governmental entities).</p>
            <p>To this Agreement. We reserve the right, at our sole discretion, to modify or replace any part of this
                Agreement (including any Policies) at any time. It is your responsibility to check this Agreement
                periodically for changes. Your continued use of or access to the Services following the posting of any
                changes to this Agreement constitutes acceptance of those changes.</p>

            <h3>Your Responsibilities</h3>
            <p>Your Accounts. You are responsible for all activities that occur under your Account, regardless of
                whether the activities are authorized by you, and (b) we and our affiliates are not responsible for
                unauthorized access to your Account.</p>
            <p>Your Use. You will ensure that Your Use of the Services does not violate any applicable law. You are
                solely responsible for Your Use of the Services. </p>
            <p>Your Security and Backup. You are responsible for properly configuring and using the Services and
                otherwise taking appropriate action to secure, protect and backup your Accounts, and Your Content in a
                manner that will provide appropriate security and protection, which might include use of encryption.</p>
            <p>Your Private Keys and Addresses. You are responsible for taking appropriate action to secure, protect and
                backup your Private Keys. You are aware that Nuftu cannot provide you with lost Private Keys and they
                cannot be restored in any way.</p>

            <h3>Fees and Payment</h3>
            <p>
                Service Fees. Unless otherwise specified in an Order form for Services, to the extent a Service incurs
                fees, we calculate and bill fees or otherwise advertised
                and charged on the Service. Fees are charged contemporaneously with your use
                of the Services. You will pay us the Fees for use of the Service Offerings in U.S. dollars
                unless otherwise agreed to in writing. All amounts payable by you under this Agreement will be paid to
                us without setoff or counterclaim, and without any deduction or withholding. Fees and charges for any
                new Service or new feature of a Service will be effective when we communicate updated fees and charges
                to you, unless we expressly state otherwise in a notice. We may elect to charge
                you interest at the rate of 1.5% per month (or the highest rate permitted by law, if less) on all late
                payments.
            </p>
            <p>Taxes. Each party will be responsible, as required under applicable law, for identifying and paying all
                taxes and other governmental fees and charges (and any penalties, interest, and other additions thereto)
                that are imposed on that party upon or with respect to the transactions and payments under this
                Agreement. All Fees payable by you are exclusive taxes unless otherwise noted. We reserve the right to
                withhold taxes where required. </p>

            <p>Refunds. Refunds cannot be granted on any Services where Nuftu has occurred non-revokable costs. As an
                example, any charges concerning minting of NFTs or transfering NFTs cannot be refunded.</p>

            <h3>Suspension</h3>
            <p>We may suspend your right to access or use any portion or all of the Services immediately upon notice to
                you if we determine:<br>
                (a) your use of the Services (i) poses a security risk to the Services or any third party, (ii) could
                adversely impact our systems, the Services or the systems of any other user, (iii) could subject us, our
                affiliates, or any third party to liability, or (iv) could be fraudulent;<br>
                (b) you are using the Services to distribute illegal or fraudulent or otherwise disagreeable (as
                determined by the sole discretion of Nuftu) content;<br>
                (b) you are in breach of this Agreement;<br>
                (c) you are in breach of your payment obligations and such breach continues for 30 days or longer; or
                <br>
                (d) for entities, you have ceased to operate in the ordinary course, made an assignment for the benefit
                of creditors or similar disposition of your assets, or become the subject of any bankruptcy,
                reorganization, liquidation, dissolution or similar proceeding. </p>

            <p>Effect of Suspension. If we suspend your right to access or use any portion or all of the Services:<br>
                (a) you remain responsible for all Fees and charges you incur during the period of suspension; and<br>
                (b) you will not be entitled to any service credits for any period of suspension.</p>

            <p>While NFTs (Non-Fungible Tokens) that have once been minted cannot be removed from the blockchain, Nuftu
                can and will remove linked metadata that is hosted on Nuftu's servers to enforce the Suspension.</p>

            <h3>
                Term &amp; Termination
            </h3>

            <p>The term of this Agreement will commence on the Effective Date and will remain in effect until terminated
                under this Section.</p>
            <p>Termination for Convenience. You may terminate this Agreement for any reason by ceasing use of the
                service.</p>
            <p>Termination for Cause: By either Party. Either party may terminate this Agreement for cause if the other
                party is in material breach of this Agreement and the material breach remains uncured for a period of 30
                days from receipt of notice by the other party. </p>
            <p>Termination for Cause: By Nuftu. Nuftu may also terminate this Agreement immediately upon notice to you
                (A) for cause if we have the right to suspend under Section "Suspension", (B) if our relationship with a
                third-party partner who provides software or other technology we use to provide the Services expires,
                terminates or requires us to change the way we provide the software or other technology as part of the
                Services, or (C) in order to comply with the law or requests of governmental entities.</p>

            <h3>Proprietary Rights</h3>
            <p>Your Content. Depending on the Service, you may share Content with us. Except as provided in this
                Section, we obtain no rights under this Agreement from you (or your licensors) to Your Content. You
                consent to our use of Your Content to provide the Services to you.</p>
            <p>Service Offerings License. Nuftu owns all rights, titles, and interests in and to the Services, and all
                related technology and intellectual property rights. Subject to the terms of this Agreement, we grant
                you a limited, revocable, non-exclusive, non-sublicensable, non-transferable license to do the
                following: (a) access and use the Services solely in accordance with this Agreement; and (b) copy and
                use Our Content solely in connection with your permitted use of the Services. Except as provided in this
                Section, you obtain no rights under this Agreement from Nuftu to the Service Offerings, including any
                related intellectual property rights. Some of Our Content and Third-Party Content may be provided to you
                under a separate license.</p>
            <p>License Restrictions. You will not use the Services in any manner or for any purpose
                other than as expressly permitted by this Agreement. Except as expressly authorized, neither you nor any
                End User will, or will attempt to (a) modify, distribute, alter, tamper with, repair, or otherwise
                create derivative works of any Content included in the Services (except to the extent Content included
                in the Services is provided to you under a separate license that expressly permits the creation of
                derivative works), (b) reverse engineer, disassemble, or decompile the Services or apply any other
                process or procedure to derive the source code of any software included in the Services (except to the
                extent applicable law doesn’t allow this restriction), (c) access or use the Services in a way intended
                to avoid incurring fees or exceeding usage limits or quotas, (d) use scraping techniques to mine or
                otherwise scrape data except as permitted by a Plan, or (e) resell or sublicense the Services unless
                otherwise agreed in writing. You will not use Nuftu's Marks unless you obtain our prior written consent.
                You
                will not misrepresent or embellish the relationship between us and you (including by expressing or
                implying that we support, sponsor, endorse, or contribute to you or your business endeavors). You will
                not imply any relationship or affiliation between us and you except as expressly permitted by this
                Agreement.</p>
            <p>Suggestions. If you provide any Suggestions to us or our affiliates, we and our affiliates will be
                entitled to use the Suggestions without restriction. You hereby irrevocably assign to us all right,
                title, and interest in and to the Suggestions and agree to provide us any assistance we require to
                document, perfect, and maintain our rights in the Suggestions.</p>

            <h3>Indemnification</h3>
            <p>You will defend, indemnify, and hold harmless us, our affiliates and licensors, and each of their
                respective employees, officers, directors, and representatives from and against any Losses arising out
                of or relating to any claim concerning: (a) breach of this Agreement or violation of applicable law by
                you; and (b) a dispute between you and any of your customers or users. You will reimburse us for
                reasonable attorneys' fees and expenses, associated with claims described in (a) and (b) above.</p>
            <p>Subject to the limitations in this Section, you will defend us, our affiliates, and our respective
                employees, officers, and directors against any third-party claim alleging that any of Your Content
                infringes or misappropriates that third party’s intellectual property rights, and will pay the amount of
                any adverse final judgment or settlement.</p>
            <p>Neither party will have obligations or liability under this Section arising from infringement by your
                combinations of the Services with any other product, service, software, data, content or method. In
                addition, we will have no obligations or liability arising from your use of the Services after we have
                notified you to discontinue such use. The remedies provided in this Section are the sole and exclusive
                remedies for any third-party claims of infringement or misappropriation of intellectual property rights
                by the Services or by Your Content.</p>
            <p>Process. In no event will a party agree to any settlement of any claim that involves any commitment,
                other than the payment of money, without the written consent of the other party.</p>

            <h3>Disclaimers &amp; Risks</h3>
            <p>DISCLAIMER. THE SERVICE OFFERINGS ARE PROVIDED "AS IS." EXCEPT TO THE EXTENT PROHIBITED BY LAW, OR TO THE
                EXTENT ANY STATUTORY RIGHTS APPLY THAT CANNOT BE EXCLUDED, LIMITED OR WAIVED, WE AND OUR AFFILIATES AND
                LICENSORS (A) MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR
                OTHERWISE REGARDING THE SERVICE OFFERINGS OR THE THIRD-PARTY CONTENT, AND (B) DISCLAIM ALL WARRANTIES,
                INCLUDING ANY IMPLIED OR EXPRESS WARRANTIES (I) OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A
                PARTICULAR PURPOSE, NON-INFRINGEMENT, OR QUIET ENJOYMENT, (II) ARISING OUT OF ANY COURSE OF DEALING OR
                USAGE OF TRADE, (III) THAT THE SERVICE OFFERINGS OR THIRD-PARTY CONTENT WILL BE UNINTERRUPTED, ERROR
                FREE OR FREE OF HARMFUL COMPONENTS, AND (IV) THAT ANY CONTENT WILL BE SECURE OR NOT OTHERWISE LOST OR
                ALTERED.</p>
            <p>RISKS. OUR SERVICES RELY ON EMERGING TECHNOLOGIES, SUCH AS ETHEREUM. SOME SERVICES ARE SUBJECT TO
                INCREASED RISK THROUGH YOUR POTENTIAL MISUSE OF THINGS SUCH AS PUBLIC/PRIVATE KEY CRYPTOGRAPHY. BY USING
                THE SERVICES YOU EXPLICITLY ACKNOWLEDGE AND ACCEPT THESE HEIGHTENED RISKS.</p>

            <h3>Limitations of Liability</h3>
            <p>Limitation of Liability. WITH THE EXCEPTION OF CLAIMS RELATING TO A BREACH OF OUR PROPRIETARY RIGHTS AS
                GOVERNED BY SECTION "Proprierity Rights" AND INTELLECTUAL PROPERTY CLAIMS AS GOVERNED BY SECTION
                "Indemnification", IN NO EVENT SHALL THE
                AGGREGATE LIABILITY OF EACH PARTY TOGETHER WITH ALL OF ITS AFFILIATES ARISING OUT OF OR RELATED TO THIS
                AGREEMENT EXCEED THE TOTAL AMOUNT PAID BY YOU HEREUNDER FOR THE SERVICES GIVING RISE TO THE LIABILITY IN
                THE TWELVE MONTHS PRECEDING THE FIRST INCIDENT OUT OF WHICH THE LIABILITY AROSE, OR, IF NO FEES HAVE
                BEEN PAID, $25,000. THE FOREGOING LIMITATION WILL APPLY WHETHER AN ACTION IS IN CONTRACT OR TORT AND
                REGARDLESS OF THE THEORY OF LIABILITY, BUT WILL NOT LIMIT YOUR PAYMENT OBLIGATIONS UNDER SECTION "Fees
                and Payments".</p>
            <p>Exclusion of Consequential and Related Damages. IN NO EVENT WILL EITHER PARTY OR ITS AFFILIATES HAVE ANY
                LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT FOR ANY LOST PROFITS, REVENUES, GOODWILL, OR
                INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER, BUSINESS INTERRUPTION OR PUNITIVE DAMAGES, WHETHER
                AN ACTION IS IN CONTRACT OR TORT AND REGARDLESS OF THE THEORY OF LIABILITY, EVEN IF A PARTY OR ITS
                AFFILIATES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR IF A PARTY'S OR ITS AFFILIATES'
                REMEDY OTHERWISE FAILS OF ITS ESSENTIAL PURPOSE. THE FOREGOING DISCLAIMER WILL NOT APPLY TO THE EXTENT
                PROHIBITED BY LAW.</p>

            <h3>Binding Arbitration and Class Action Waiver.</h3>
            <p>This Section may significantly affect your legal rights.</p>
            <p>Binding Arbitration. Any dispute, claim or controversy relating in any way to this Agreement, the Site,
                or your use of the Services will be resolved by binding arbitration as provided in this Section, rather
                than in court, except that you may assert claims in small claims court if your claims qualify.</p>
            <p>Class Action Waiver. YOU AND WE AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY ON AN INDIVIDUAL
                BASIS, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. YOU
                AND WE EXPRESSLY WAIVE ANY RIGHT TO FILE A CLASS ACTION OR SEEK RELIEF ON A CLASS BASIS. Unless both you
                and we agree, no arbitrator or judge may consolidate more than one person's claims or otherwise preside
                over any form of a representative or class proceeding. The arbitrator may award injunctive relief only
                in favor of the individual party seeking relief and only to the extent necessary to provide relief
                warranted by that party’s individual claim. If a court decides that applicable law precludes enforcement
                of any of this paragraph’s limitations as to a particular claim for relief, then that claim (and only
                that claim) must be severed from the arbitration and may be brought in court. If any court or arbitrator
                determines that the class action waiver set forth in this paragraph is void or unenforceable for any
                reason or that an arbitration can proceed on a class basis, then the arbitration provision set forth
                above shall be deemed null and void in its entirety and the parties shall be deemed to have not agreed
                to arbitrate disputes.</p>

            <p>30-Day Right to Opt Out. You have the right to opt-out and not be bound by the arbitration and class
                action waiver provisions set forth above by sending written notice of your decision to opt-out to the
                following address: via email at contact@nuftu.com with subject line LEGAL OPT OUT. The notice must be
                sent within 30 days of your first use of the Services, otherwise you shall be bound to arbitrate
                disputes in accordance with the terms of those paragraphs. If you opt-out of these arbitration
                provisions, we will also not be bound by them.</p>
            <h3>Place of Jurisdiction</h3>
            <p>Place of Jurisdiction is Zurich, Switzerland.</p>
            <h3>Miscellaneous</h3>
            <p>Force Majeure. Neither party nor their respective affiliates will be liable for any delay or failure to
                perform any obligation under this Agreement where the delay or failure results from any cause beyond
                such party’s reasonable control, including but not limited to acts of God, utilities or other
                telecommunications failures, cyber attacks, earthquake, storms or other elements of nature, pandemics,
                blockages, embargoes, riots, acts or orders of government, acts of terrorism, or war.</p>
            <p>Export and Sanctions Compliance. In connection with this Agreement, you will comply with all applicable
                import, re-import, sanctions, anti-boycott, export, and re-export control laws and regulations,
                including all such laws and regulations that may apply. For clarity, you are solely responsible for
                compliance related to the manner in which you choose to use the Services.</p>
            <p>Eligibility. If you are under the age of majority in your jurisdiction of residence, you may use the Site
                or Services only with the consent of or under the supervision of your parent or legal guardian.</p>
            <p>Language. All communications and notices made or given pursuant to this Agreement must be in the English
                or German language.</p>
            <p>Severability. If any portion of this Agreement is held to be invalid or unenforceable, the remaining
                portions of this Agreement will remain in full force and effect. Any invalid or unenforceable portions
                will be interpreted to effect and intent of the original portion. If such construction is not possible,
                the invalid or unenforceable portion will be severed from this Agreement but the rest of the Agreement
                will remain in full force and effect.</p>
            <p>
                Notice and Procedure for Making Claims of Copyright Infringement. If you are a copyright owner or agent
                of the owner, and you believe that your copyright or the copyright of a person on whose behalf you are
                authorized to act has been infringed, please provide us a written notice at the address below with the
                following information: <br>
                an electronic or physical signature of the person authorized to act on behalf of the owner of the
                copyright or other intellectual property interest;<br>
                a description of the copyrighted work or other intellectual property that you claim has been
                infringed;<br>
                a description of where the material that you claim is infringing is located on the Services;<br>
                your address, telephone number, and email address;<br>
                a statement by you that you have a good faith belief that the disputed use is not authorized by the
                copyright owner, its agent, or the law;<br>
                a statement by you, made under penalty of perjury, that the above information in your notice is accurate
                and that you are the copyright or intellectual property owner or authorized to act on the copyright or
                intellectual property owner's behalf.<br>
            </p>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1">Privacy policy</h1>
            </div>
            <h3>What we collect</h3>
            <p>Information we collect from you may include</p>
            <ul>
                <li>Identity information, such as your first name, last name, username or similar identifier, title,
                    date of birth and gender;
                </li>
                <li>Contact information, such as your postal address, email address and telephone number;</li>
                <li>Profile information, such as your username and password, interests, preferences, feedback and survey
                    responses;
                </li>
                <li>Feedback and correspondence, such as information you provide in your responses to surveys, when you
                    participate in market research activities, report a problem with Service, receive customer support
                    or otherwise correspond with us;
                </li>
                <li>Financial information, such as your credit card or other payment card details;</li>
                <li>Transaction information, such details about purchases you make through the Service and billing
                    details;
                </li>
                <li>Usage information, such as information about how you use the Service and interact with us;</li>
                <li>Technical information, such as your Ethereum wallet address and network information regarding
                    transactions.
                </li>
            </ul>
            <p>Infomation automatically collected</p>
            <p>We may automatically record certain information about how you use our Sites ("Log Data"). Log Data may
                include information such as a user's Internet Protocol (IP) address, device and browser type, operating
                system, the pages or features of our Sites to which a user browsed and the time spent on those pages or
                features, the frequency with which the Sites are used by a user, search terms, the links on our Sites
                that a user clicked on or used, and other statistics. We use this information to administer the Service
                and we analyze (and may engage third parties to analyze) this information to improve and enhance the
                Service by expanding its features and functionality and tailoring it to our users' needs and
                preferences.</p>
            <p>We may use cookies, local storage or similar technologies to analyze trends, administer the Sites, track
                users' movements around the Sites, and to gather demographic information about our user base as a whole.
                Users can control the use of cookies and local storage at the individual browser level.</p>
            <p>We also may use Google Analytics to help us offer you an optimized user experience. You can find more
                information about Google Analytics’ use of your personal data here:
                https://www.google.com/analytics/terms/us.html.</p>

            <h3>How we use your information</h3>
            <ul>
                <li>To enable you to access and use the Services
                </li>
                <li>To provide and deliver products and services that you may request.</li>
                <li>To process and complete transactions, and send you related information, including purchase
                    confirmations and invoices
                </li>
                <li>We use your personal information as we believe necessary or appropriate to comply with applicable
                    laws (including anti-money laundering (AML) laws and know-your-customer (KYC) requirements), lawful
                    requests and legal process, such as to respond to subpoenas or requests from government authorities.
                </li>
                <li>In order to optimize your user experience, we may use your personal information to operate,
                    maintain, and improve our Services.
                </li>
                <li>We may use your personal information to protect, investigate, and deter against fraudulent,
                    unauthorized, or illegal activity.
                </li>
            </ul>

            <h3>Deleting your Information</h3>
            <p>You may access information that you have voluntarily provided through your account on the Services, and
                to review, correct, or delete it by sending a request to contact@nuftu.com. You can request to change
                contact choices, opt-out of our sharing with others, and update your personal information and
                preferences.</p>

            <h3>Tracking Technologies</h3>
            <p>Regular cookies may generally be disabled or removed by tools available as part of most commercial
                browsers, and in some instances blocked in the future by selecting certain settings.</p>
            <p>You may exercise choices regarding the use of cookies from Google Analytics by going to
                https://tools.google.com/dlpage/gaoptout and downloading the Google Analytics Opt-out Browser
                Add-on.</p>

            <h3>Changes</h3>
            <p>We may change this privacy policy at any time. We encourage you to periodically review this page for the
                latest information on our privacy practices.
                Changes are effective immediately.</p>
            <h3>Eligibility</h3>
            <p>If you are under the age of majority in your jurisdiction of residence, you may use the Services only
                with the consent of or under the supervision of your parent or legal guardian.</p>

        </main>
    </div>
</div>
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GV36YE0WSV"></script>
<script th:unless="${#arrays.contains(@environment.getActiveProfiles(),'dev')}">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-GV36YE0WSV');
</script>

</html>